* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5; /* Cambio de fondo */
}

.carta-container {
    width: 70vw;
    padding: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff; /* Cambio de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.categoria-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 40vh;
    border: 1px solid #cccccc; /* Cambio de color de borde */
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9; /* Cambio de fondo */
}

.categoria-name {
    font-size: 30px;
    font-weight: 700;
    color: #333333; /* Cambio de color */
    border-bottom: 1px solid #cccccc; /* Cambio de color de borde */
    margin-bottom: 15px;
    padding-bottom: 5px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.platos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    border-radius: 10px;
}

.comanda-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 5vh;
    height: 90vh;
    width: 70vw;
    border-left: 1px solid #cccccc; /* Cambio de color de borde */
    padding: 40px;
    background-color: #ffffff; /* Cambio de fondo */
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
